<div class="masthead"
     style="background-image: url({{masthead}})">
  <div class="project-description">
    <h1 class="project-title">{{ title }}</h1>
  </div>
</div>

<div class="lightbox is-hidden">
  <button class="btn-close ripple" data-ripple data-close-lightbox></button>
  <ul class="lightbox" rn-carousel rn-carousel-controls rn-carousel-index="currentArtwork">
    <li data-ng-repeat="photo in photos">
      <div class="lightbox-item"></div>
        <img src="{{ photo.bigUrl }}" alt="">
      </li>
  </ul>
</div>

<p class="project-abstract"
   ng-text-truncate="description"
   ng-tt-words-threshold="25"></p>
<h2 class="sub-title">Arwork</h2>
<ul class="artwork-list">
  <li data-ng-repeat="photo in photos"
      data-ripple
      class="artwork-list-item ripple">
    <img src="{{photo.url}}"
         data-lightbox-trigger
         data-current-index="{{$index}}">
  </li>
</ul>
