<div class="masthead"
     masthead="{{masthead}}"
     url="masthead"
     style="background-image: url({{masthead}})">
  <div class="project-description">
    <h1 class="project-title">{{ title }}</h1>
    <h2 class="project-byline">23 collected works</h2>
    <a class="more-container">
      <div class="more"></div>
    </a>
  </div>
</div>

<div class="lightbox is-hidden">
  <button class="btn-close ripple" data-ripple data-close-lightbox></button>
  <ul class="lightbox" rn-carousel rn-carousel-controls rn-carousel-index="currentArtwork">
    <li data-ng-repeat="photo in photos">
      <div class="lightbox-item"></div>
        <img src="{{ photo.bigUrl }}" alt="">
      </li>
  </ul>
</div>

<div data-ng-if="description">
  <p class="project-statement"
     ng-text-truncate="description"
     ng-tt-words-threshold="100"></p>
  <!-- <p class="project-statement">{{description}}</p> -->
  <h2 class="sub-title">Artwork</h2>
</div>
<ul class="artwork-list g">
  <li data-ng-repeat="photo in photos"
      data-ripple
      class="artwork-list-item ripple">
    <img src="{{photo.url}}"
         data-lightbox-trigger
         data-current-index="{{$index}}">
  </li>
</ul>
