@import 'normalize';
@import 'mixins';
@import 'colors';

html {font-size: 1em;}

body {
  background-color : $lightgrey;
  font: 16px/26px 'effra', Helvetica, Helvetica Neue, Arial;
  font-weight: 300;
  color: $black;
}

/*
 * GLOBAL TYPOGRAPHY
 */

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

/*
 * HEADER
 */

.header {
  background-color : #eee;
  height: 56px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.05);
  
  @include bp(M) {
    height : 72px;
  }
  @include bp(XM) {
    height : 96px;
  }
  @include bp(L) {
    height: 120px;
  }
}

.name {
  font-size: 1em;
  line-height: 56px; // Match height of .header
  margin-left: 72px;
  
  @include bp(M) {
    line-height : 72px;
  }
  
  @include bp(XM) {
    margin-left : 144px;
    line-height : 96px;
  }
  
  @include bp(L) {
    font-size: 1.414em;
    line-height: 120px;
  }
  
  a {
    text-decoration: none;
    color : $black;
  }
}

.logo {
  position : absolute;
  top : 16px;
  left: 16px;
  width: 24px;
  height: 24px;
  
  @include bp(M) {
    width: 36px;
    height: 36px;
    top : 18px;
  }
  @include bp(XM) {
    width : 48px;
    height: 48px;
    top : 24px;
    left : 48px;
  }
  @include bp(L) {
    width: 72px;
    height: 72px;
  }
}

.contact {
  width: 14px;
  
  @include bp(M) {
    width: 21px;
  }
  @include bp(L) {
    width: 32px;
  }
}

#nav {
  position: absolute;
  right: 24px;
  top: 16px;
  
  @include bp(M) {
    top: 27px;
  }
  
  @include bp(XM) {
    top: 38px;
  }
  
  @include bp(L) {
    top: 46px;
    right: 48px;
  }
  
  li {
    width: 24px;
    height: 24px;
    text-align: center;
    
    img {
      margin: 0 auto;
    }
  }
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-title {
  font-size : 1.999em;
  line-height : 1;
  margin : 24px 0 24px 24px;
  
  @include bp(M) {
    font-size : 2.827em;
    margin-left: 48px;
  }
  
  .byline {
    display : block;
    margin-left: 48px;
    font-size : 1rem;
    font-style : italic;
    color: $mediumgrey;
    padding-bottom: 12px;
    border-bottom: 1px solid #e4e5e6;
    
    @include bp(M) {
      margin-left : 96px;
      font-size : 1.414rem;
    }
  }
}

#app {
  -webkit-transition-property: all;
     -moz-transition-property: all;
       -o-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.4s;
     -moz-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;

  &.is-hidden {
    position: fixed;
    width: 100%;
    height: 100%;
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
       -moz-transform: scale3d(0.9, 0.9, 0.9);
        -ms-transform: scale3d(0.9, 0.9, 0.9);
         -o-transform: scale3d(0.9, 0.9, 0.9);
            transform: scale3d(0.9, 0.9, 0.9);
  }
}

#contact {
  display: table;
  visibility: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 8;
  cursor: pointer;
  background-color: rgba(37,41,52,0.7);
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0);
     -moz-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
       -o-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition-property: opacity,visibility;
     -moz-transition-property: opacity,visibility;
       -o-transition-property: opacity,visibility;
          transition-property: opacity,visibility;
  -webkit-transition-duration: 0.6s;
     -moz-transition-duration: 0.6s;
       -o-transition-duration: 0.6s;
          transition-duration: 0.6s;
  
  .wrap {
    display: table-cell;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  
  .inner {
    position: relative;
    cursor: default;
    max-width: 600px;
    margin: 0 auto;
    padding: 24px;
    text-align: center;
    background-color: $lightgrey;
    box-shadow: rgba(0,0,0,0.4) 0 1px 1px;
    border-radius: 2px;
    border-top: 3px solid $accent;
    -webkit-transform: scale3d(0.7, 0.7, 0.7);
       -moz-transform: scale3d(0.7, 0.7, 0.7);
        -ms-transform: scale3d(0.7, 0.7, 0.7);
         -o-transform: scale3d(0.7, 0.7, 0.7);
            transform: scale3d(0.7, 0.7, 0.7);
    -webkit-transition-property: all;
       -moz-transition-property: all;
         -o-transition-property: all;
            transition-property: all;
    -webkit-transition-duration: 0.4s;
       -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
           transition-duration: 0.4s;
    opacity: 0;
  }
  
  &.is-visible {
    visibility: visible;
    opacity: 1;
    
    .inner {
      -webkit-transform: scale3d(1, 1, 1);
      -moz-transform: scale3d(1, 1, 1);
      -ms-transform: scale3d(1, 1, 1);
      -o-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
  
  .title {
    font-size: 1.999em;
    margin: 0 auto;
  }
  
  .byline {
    font-size : 1em;
    font-style : italic;
    font-weight : bold;
    color : $mediumgrey;
    margin-top: 0;
  }

  .divider {
    background-color: $mediumgrey;
    max-width: 40px;
    height: 1px;
    border: 0;
    margin-bottom: 24px;
  }
  
  .sub-header {
    font-size: 1em;
    font-weight: bold;
    margin: 0 auto 16px;
  }
  
  .btn-close {
    color: $mediumgrey;
    margin-top: -24px;
    margin-right: -12px;
  }
  
}

.mc-field-group {
  
  input[type=text],
  input[type=email] {
    box-sizing: border-box;
    border: 1px solid $mediumgrey;
    padding: 8px;
    color: $mediumgrey;
    
    @include bp(XS) {
      width: 100%;
      margin-bottom: 1em;
    }
    @include bp(S) {
      width: 44%;
    }
  }
}

#portrait {
  display: block;
  margin: 24px auto 16px auto;
}

#btn-email,
input[type=submit] {
  margin: 16px auto;
  display: inline-block;
  padding: 8px 16px;
  background-color: $accent;
  color: $lightgrey;
  text-decoration: none;
  border: 0;
  border-radius: 2px;
  box-shadow: inset 0 -2px 0 0 rgba(0,0,0,0.20);
}

input[type=submit] {
  margin-top: 0;
}


/*
 * PROJECT LIST PAGE
 */
 
.project-list {
  list-style : none;
  margin : 0 24px;
  padding : 0;
  
  @include bp(M) {
    margin-left : 48px;
  }
}

.project-list-item {
  margin-bottom : 24px;
  @include bp(M) {
    clear : left;
    position : relative;
  }
}

.project-list-title {
  font-size : 1em;
  margin-top: 0;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  
  &:hover {
    background-color: $accent;
  }
  
  @include bp(M) {
    position : absolute;
    width : 72px;
    text-align : right;
    
    b {
      display : block;
    }
  }
}

.project-list-link {
  display : block;
  height : 240px;
  background-repeat: none;
  background-position: center;
  max-width: 800px;
  /* background-size: cover; */
  @include bp(M) {
    margin-left : 96px;
    height : 320px;
  }
  @include bp(XM) {
    margin-right: 200px;
  }
}

/*
 * MAIN PROJECT PAGE
 */

.masthead {
  position: relative;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  @include bp(XM) {
    height: 560px;
  }
}

.project-description {
  display : inline-block;
  position: absolute;
  bottom: 15%;
  padding : 16px 16px 16px 0;
  background-color : $lightgrey;
}

.project-title,
.project-byline {
  margin : 0;
  margin-left : 72px;
  
  @include bp(XM) {
    margin-left : 144px; // match .name
  }
}

.project-title {
  font-size : 1.999em;
  @include bp(XM) {
    font-size : 2.827em;
  }
}

.project-byline {
  font-size : 1em;
  font-style : italic;
  font-weight : bold;
  color : $mediumgrey;
  @include bp(XM) {
    font-size : 1.414em;
  }
}

.project-statement {
  margin-left: 16px;
  margin-right: 24px;
  
  @include bp(M) {
    margin-left: 72px;
    margin-right: 72px;
  }
  @include bp(XM) {
    margin-left: 144px;
    margin-right: 120px;
  }
}

.sub-title {
  margin-left: 16px;
  font-size: 1.414em;
  
  @include bp(XM) {
    margin-left: 144px;
  }
}

.project-statement:first-letter {
  display: block;
  float: left;
  font-size: 1.7em;
  width: 16px;
  height: 16px;
  line-height: 1;
  margin: 8px 8px 0 0;
  padding: 8px;
  border: 1px solid $black;
  text-align: center;
  
  @include bp(M) {
    margin-left: -55px;
  }
}

/*
 * Lightbox
 */
.lightbox {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: black;
  background: rgba(0,0,0,0.9);
  -webkit-transition: opacity 600ms ease-in-out;
  transition: opacity 600ms ease-in-out;
  
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  img {
    max-height: 90%;
    max-width: 95%;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
  }
}

ul.lightbox {
  background: transparent;
}

.lightbox-item {
  backface-visibility: hidden;
  overflow: visible;
  vertical-align: top;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  white-space: normal;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.rn-carousel-control {
  color: rgba(255,255,255,0);
}

.rn-carousel-control.rn-carousel-control-next {
  right: 0.5em;
}

.rn-carousel-control-next:before,
.rn-carousel-control-prev:before {
  border-style: solid;
  border-color: rgba(255,255,255,0.6);
  border-width: 4px 4px 0 0;
  content: '';
  display: inline-block;
  height: .5em;
  width: .5em;
  position: relative;
  vertical-align: top;
  border-radius: 2px;
}

.rn-carousel-control-next:before {
  right: 8px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.rn-carousel-control-prev:before {
  left: 8px;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.btn-close {
  float: right;
  box-sizing: border-box;
  background: transparent;
  border: none;
  outline: none;
  color: rgba(255,255,255,0.6);
  font-size: 48px;
  display: inline-block;
  line-height: 0px;
  width: 48px;
  height: 48px;
  text-align: center;
  padding: 0;
  
  &:before {
    content: "×";
  }
}


/*
 * Artwork Grid
 */

.artwork-list {
  margin : 0;
  padding : 0;
  list-style : none;
}

.artwork-list-item {
  box-sizing: border-box;
  
  img {
    max-width : 100%;
  }
}

.g {
      margin : 0 4px;
      overflow: hidden;
    }
    .g li {
      float: left;
      width: 50%;
      padding: 8px 4px 0 4px;
    }
    .g img {
      display: block;
    }
    .g li:nth-child(odd) {
      clear: left;
    }
    
    @include bp(M) {
    .g li {
        width: 33.3333333333333333%;
      }
      .g li:nth-child(3n+1) {
        clear: left;
      }
      .g li:nth-child(odd) {
        clear: none;
      }
    }
    @media screen and (min-width: 55em) {
      .g li {
          width: 25%;
        }
        .g li:nth-child(4n+1) {
          clear: left;
        }
        .g li:nth-child(3n+1) {
        clear: none;
      }
    }
    @media screen and (min-width: 72em) {
      .g li {
          width: 20%;
        }
        .g li:nth-child(5n+1) {
          clear: left;
        }
        .g li:nth-child(4n+1) {
        clear: none;
      }
    }
    @media screen and (min-width: 90em) {
      .g li {
          width: 16.666666666%;
        }
        .g li:nth-child(6n+1) {
          clear: left;
        }
        .g li:nth-child(5n+1) {
        clear: none;
      }
    }
